layout {
	tab focus=true {
		pane size=1 borderless=true {
			plugin location="zellij:compact-bar"
		}
		pane split_direction="vertical" {
			pane command="hx"
			pane command="cargo" start_suspended=true {
				args "test"
			}
		}
	}
	tab {
		pane size=1 borderless=true {
			plugin location="zellij:compact-bar"
		}
		pane split_direction="vertical" {
			pane
			pane {
				pane size="40%" stacked=true {
					pane command="git" {
						args "diff"
					}
					pane command="git" {
						args "status"
					}
				}
				pane
			}
		}
	
	}
 }
